from random import *

timesCorrect = 0
timesIncorrect = 0
a_s_d_or_m = input("Type in '+' for addition, '-' for subtraction, '/' for division, and '*' for multiplication")
for i in range(10):
    if a_s_d_or_m == '+':
        a1 = randint(1, 1000)
        a2 = randint(1, 1000)
        guess = input(f'What is {a1} + {a2}?')
        if guess == str(a1 + a2):
            timesCorrect += 1
            print("Correct!")
        else:
            timesIncorrect += 1
            print("Incorrect!")
            print("The correct answer was ", a1 + a2)
        if i == 9:
            if timesCorrect >= 5:
                print("You Passed!")
                break
            else:
                print("You Failed!")
                break
    elif a_s_d_or_m == '-':
        s1 = randint(1, 1000)
        s2 = randint(1, 100)
        guess = input(f'What is {s1} - {s2}?')
        if guess == str(s1 - s2):
            timesCorrect += 1
            print("Correct!")
        else:
            timesIncorrect += 1
            print("Incorrect!")
            print("The correct answer was", s1 - s2)
        if i == 9:
            if timesCorrect >= 5:
                print("You Passed!")
                break
            else:
                print("You Failed!")
                break
    elif a_s_d_or_m == '/':
        d1 = randint(1, 1000)
        d2 = randint(1, 35)
        guess = input(f'What is {d1} / {d2}?')
        if guess == str(d1 / d2):
            timesCorrect += 1
            print("Correct!")
        else:
            timesIncorrect += 1
            print("Incorrect!")
            print("The correct answer was ", d1 + d2)
        if i == 9:
            if timesCorrect >= 5:
                print("You Passed!")
                break
            else:
                print("You Failed!")
                break
    elif a_s_d_or_m == '*':
        m1 = randint(1, 1000)
        m2 = randint(1, 100)
        guess = input(f'What is {m1} * {m2}?')
        if guess == str(m1 * m2):
            timesCorrect += 1
            print("Correct!")
        else:
            timesIncorrect += 1
            print("Incorrect!")
            print("The correct answer was ", m1 + m2)
        if i == 9:
            if timesCorrect >= 5:
                print("You Passed!")
                break
            else:
                print("You Failed!")
                break
